.container {
  padding: 1.5rem;
  display: flex;
}
.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex: 1;
}
/* flex: 1; in .logo class above does same thing justify-content: space-between would do in .container class*/

.logo > img {
  width: 2.5rem;
  height: 2.5rem;
}
.logo > span {
  font-weight: 600;
  font-size: 3rem;
}
.right {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
.menu {
  display: flex;
  gap: 2rem;
  font-weight: 500;
  list-style: none;
}
.menu > li:hover {
  cursor: pointer;
  color: var(--pink);
}
.search {
  width: 7rem;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  height: 30%;
}
.cart {
  width: 1rem;
  height: 1.5rem;
  cursor: pointer;
}

.bars {
  display: none;
}

/* MOBILE RESPONSIVE STYLING */
@media screen and (max-width: 640px) {
  .right {
    position: absolute;
    right: 1rem;
    z-index: 9999;
    background: #fff;
    color: var(--black);
    border-radius: 5px;
    flex-direction: column;
    padding: 0.5rem;
  }
  .menu {
    flex-direction: column;
    margin-left: -2rem;
    display: none;
  }
  .bars {
    display: block;
    font-size: 1.5rem;
    cursor: pointer;
  }
  .search {
    display: none;
  }
}

@media screen and (max-width: 856px) {
  .search {
    display: none;
  }
  .right {
    gap: 1rem;
  }
}
